.button {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: rgb(255, 64, 129);
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  line-height: 36px;
  text-align: center;
  top: 0px;
  transition-delay: 0s;
  transition-duration: 0.45s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover {
  text-decoration: underline;
}
