

/* Global variables */
@import 'variables';
@import 'mixins';
@import 'animations';

/* Component Styles */
@import 'panel';
@import 'button';

*, *:before, *:after {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.main {
  max-width: 768px;
  padding: 20px 10px;
  margin: 0 auto;
}

#dropzone {
  position: relative;
  height: 300px;
  border: 3px dotted var(--color-dropzone-border);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone__hidden-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.dropzone__text {
  font-size: 1.25rem;
  color: #BDBDBD;
}

.dropzone--active {
  border-width: 5px;
  background-color: var(--color-dropzone-bg-active);
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.load-indicator {
  overflow: hidden;
  position: relative;
  height: 1.5rem;
  width: 100%;
  background: oldlace;
  border-radius: 10px;
}

.load-indicator__slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-image: repeating-linear-gradient( 45deg, #ccc, #ccc 10px, #eee 10px, #eee 20px );
  height: 100%;
  width: calc(100% + 56px);
  animation-name: move;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 0 20px;
}



.load-indicator__slide:before {
  content: 'Processing...';
  line-height: 1.5rem;
  color: black;
  font-weight: 600;
}
