:root {

  /* ヘッダ要素のアイテムスタイル */
  --head-item: {
    display: flex;
    align-items: center;
  };

  /* 中央寄せ */
  --center: {
    margin: 0 auto;
  };

  /* 左右のパディング */
  --padding-horizon: {
    padding-left: var(--padding-horizon-medium);
    padding-right: var(--padding-horizon-medium);
  };
}
